* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: Lucida Bright;
    font-size: 50px;
    color: white;
}

h2 {
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

li {  
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

img {
    display: inline;
}
